@if (resetSuccess === false && resetMessage === '') {
    <div class="password-reset-container">
        <h1>Zresetuj hasło</h1>
        <form class="column" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-input-row">
              <mat-form-field>
                <mat-label>Podaj adres email</mat-label>
                <input
                  matInput
                  formControlName="email"
                  required
                  type="text"
                />
              </mat-form-field>
              <button
                type="button"
                class="field-hint-button visible-{{
                    resetPasswordForm.controls['email'].invalid
                }} valid-form-{{ resetPasswordForm.valid }}"
                matTooltip="{{ getEmailValidationMessage() }}"
                matTooltipPosition="right"
              >
                !
              </button>
            </div>
          
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="!resetPasswordForm.valid"
            >
              Zresetuj
            </button>
          </form>      
    </div>
}

@if (resetSuccess === true) {
    <div class="password-reset-container">
        <h1>Zresetuj hasło</h1>
        <p class="success">Na podany adres email został wysłany link do zresetowania hasła.</p>
    </div>
}

@if (resetMessage !== '') {
    <div class="password-reset-container">
        <h1>Zresetuj hasło</h1>
        <p class="error">{{ resetMessage }}</p>
    </div>
}