:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

.form-input-row {
    display: flex;
    flex-direction: row;
}

.field-hint-button {
    cursor: pointer;
    border-radius: 50%;
    margin: 10px;
    aspect-ratio: 1/1;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px black solid;
}

.visible-false {
    visibility: hidden;   
}

.error-border {
    border: 2px red solid;
}

.valid-form-true {
    display: none !important;
}