<form class="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-input">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="email"
      required
      autocomplete="off"
    />
    @if (loginForm.controls['email'].value != '') {
      <button (click)="clearEmailInput()" type="button" mat-icon-button matSuffix>
        <mat-icon svgIcon="deleteIcon"/>
      </button>
    }
  </mat-form-field>
  <div class="form-div">
    <mat-form-field class="form-input">
      <input
        matInput
        placeholder="Password"
        type="password"
        formControlName="password"
        required
        autocomplete="off"
      />
      @if (loginForm.controls['password'].value != '') {
        <button (click)="clearPasswordInput()" type="button" mat-icon-button matSuffix>
          <mat-icon svgIcon="deleteIcon"/>
        </button>
      }
    </mat-form-field>
      <a class="form-link" routerLink="/resetPassword">Zresetuj hasło</a>
  </div>

  <div class="form-errors-container" [hidden]="formFieldsValidationMessagesHidden">
    @if (loginForm.controls['email'].invalid) {
    <p class="error">{{ getEmailValidationMessage() }}</p>
    } @if (loginForm.controls['password'].invalid) {
    <p class="error">{{ getPasswordValidationMessage() }}</p>
    }
  </div>

  <button
    mat-raised-button
    color="primary"
    [disabled]="!loginForm.valid"
    class="form-input"
  >
    Login
  </button>
  <div class="big-top-margin" [hidden]="formResponseHidden">
    @if (successResponse) {
    <p class="success">{{ successResponse }}</p>
    } @if (errorResponse) {
    <p class="error">{{ errorResponse }}</p>
    }
  </div>
</form>
