<form class="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-input">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="email"
      required
    />
    @if (loginForm.controls['email'].invalid) {
    <mat-error>{{ getEmailValidationMessage() }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="form-input">
    <input
      matInput
      placeholder="Password"
      type="password"
      formControlName="password"
      required
    />
    @if (loginForm.controls['password'].invalid) {
    <mat-error>{{ getPasswordValidationMessage() }}</mat-error>
    }
  </mat-form-field>
  <a routerLink="/resetPassword">reset password</a>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!loginForm.valid"
    class="form-input"
  >
    Login
  </button>
  @if (successResponse) {
    <p class="success">{{successResponse}}</p>
  }
  @if (errorResponse) {
    <p class="error">{{errorResponse}}</p>
  }
</form>
